@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Mono|Titillium+Web|Ubuntu');
@media screen and (max-width:320px) {
    body {
    width: auto;
}}  

*{
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
}
.head {
    font-size: 43px;
    /*background-image: url("back.png");   */
    background-position: center;
    padding: 100px;
    background-size: cover;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.projects {
    background-image: url("codeback.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) url('codeback.jpeg');
}
.projectl {
    padding: 50px;
    background-blend-mode: soft-light;
    background-color: rgb(56, 55, 71);
    color: whitesmoke;
    width: 45%;
    float:left;
    font-family: 'Titillium Web', sans-serif;
    margin: 25px;
    border-color: orange;
    border-style: solid;
}
.projectr {
    padding: 50px;
    margin: 25px;
    background-blend-mode: soft-light;
    background-color: rgb(56, 55, 71);
    color: whitesmoke;
    width: 45%;
    float: right;
    font-family: 'Titillium Web', sans-serif;
    border-color: orange;
    border-width: 5px;
    border-style: solid;
}
.head h1 {
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}
.header {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    padding: 100px;
}
.header h1 {
    border-radius: 10px;
    border-color: whitesmoke;
    border-width: 5px;
    border-style: solid;
}
.about {
     font-family: 'Ubuntu', sans-serif;
     text-align: left;
     padding: 50px;
}
.me {
    width: 400px;
}
.about h1 {
    text-decoration: underline;
}
.about ul {
    display: inline-block;
}
.profile {
    height: 300px;
    float: right;
    border-radius: 10px;
}
.leftimg {
    height: 100px;
    float:left;
    padding-right: 50px;
    border-radius: 10px;
}
.rightimg {
    height: 100px;
    float:right;
    padding-right: 50px;
    border-radius: 10px;
}
.whitespace {
    padding: 50px;
    width: 100%;
}
.foot {
    top: 100%;
    width: 100%;
    position: absolute;
    background: gray;
}
.in {
    padding: 30px;
    font-family: 'Indie Flower', cursive;
}
.about ul {
    margin-left: 20px;
}